<a href="https://colab.research.google.com/github/diego2017003/knn_treeClassifier/blob/main/Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Prática com Naive Bayes
---
Nesse notebook iremos utilizar

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import math
dados_originais = pd.read_csv('https://raw.githubusercontent.com/diego2017003/knn_treeClassifier/main/heart.csv?token=AHICD55RZU4G53PRUPRVB3DA4HQCS')
dados_amostra30 = pd.read_csv('https://raw.githubusercontent.com/diego2017003/knn_treeClassifier/main/amostra_30_sr.csv?token=AHICD57VCQG2JACG2W6CH6DA4HQEE')
dados_amostra50 = pd.read_csv('https://raw.githubusercontent.com/diego2017003/knn_treeClassifier/main/amostra_50_estratificada.csv?token=AHICD577TFMYIROBCPV67PDA4HQHY')
dados_amostra70 = pd.read_csv('https://raw.githubusercontent.com/diego2017003/knn_treeClassifier/main/amostra_70_estratificada.csv?token=AHICD52TMNHP253IGVDF243A4HQP4')

In [2]:
dados_originais_tratados = dados_originais.copy()
dados_originais_tratados.restecg.replace({0:'Normal',1:'Possui_anormalidade',2:'Provável_hipertrofia'}, inplace=True)
dados_originais_tratados.cp.replace({1:'Angina_tipica',2:'Angina_atipica',3:'Não_Angina',0:'Assintomatico'}, inplace=True)
dados_originais_tratados = pd.get_dummies(dados_originais_tratados , columns=['restecg','cp'] , prefix=['restecg_','cp_'])
dados_originais_tratados.describe()

              age         sex  ...  cp__Assintomatico  cp__Não_Angina
count  303.000000  303.000000  ...         303.000000      303.000000
mean    54.366337    0.683168  ...           0.471947        0.075908
std      9.082101    0.466011  ...           0.500038        0.265288
min     29.000000    0.000000  ...           0.000000        0.000000
25%     47.500000    0.000000  ...           0.000000        0.000000
50%     55.000000    1.000000  ...           0.000000        0.000000
75%     61.000000    1.000000  ...           1.000000        0.000000
max     77.000000    1.000000  ...           1.000000        1.000000

[8 rows x 19 columns]

In [3]:
dados_amostra30.drop(columns=['Unnamed: 0'],inplace=True)
dados_amostra50.drop(columns=['Unnamed: 0'],inplace=True)
dados_amostra70.drop(columns=['Unnamed: 0'],inplace=True)
dados_amostra30.head()

   age  sex  trtbps  ...  cp__Angina_tipica  cp__Assintomatico  cp__Não_Angina
0   58    0     136  ...                  1                  0               0
1   65    0     160  ...                  0                  0               0
2   58    1     128  ...                  0                  1               0
3   41    1     110  ...                  0                  1               0
4   62    0     140  ...                  0                  1               0

[5 rows x 19 columns]

Iremos aplicar o método de naive bayes com kernel Gaussiano devido a característica contínua dos nossos dados.

In [4]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

### Dados Originais
---

In [5]:
acuracia =[]
Naive_Bayes_gaussiano = GaussianNB()
X = dados_originais_tratados.drop(columns=['output'])
X_train,X_test,Y_train,Y_test = train_test_split(X,dados_originais_tratados.output,test_size=0.3,
                                                 stratify=dados_originais_tratados.output)
Naive_Bayes_gaussiano.fit(X_train,Y_train)
y_pred = Naive_Bayes_gaussiano.predict(X_test)
acuracia1 = accuracy_score(Y_test,y_pred)
print("Acuracia 70/30 :",acuracia1)
acuracia.append(acuracia1)
Naive_Bayes_gaussiano2 = GaussianNB()
X = dados_originais_tratados.drop(columns=['output'])
X_train,X_test,Y_train,Y_test = train_test_split(X,dados_originais_tratados.output,test_size=0.2,
                                                 stratify=dados_originais_tratados.output)
Naive_Bayes_gaussiano.fit(X_train,Y_train)
y_pred = Naive_Bayes_gaussiano.predict(X_test)
acuracia2 = accuracy_score(Y_test,y_pred)
print("Acuracia 80/20 :",acuracia2)
acuracia.append(acuracia2)
Naive_Bayes_gaussiano3 = GaussianNB()
X = dados_originais_tratados.drop(columns=['output'])
X_train,X_test,Y_train,Y_test = train_test_split(X,dados_originais_tratados.output,test_size=0.1,
                                                 stratify=dados_originais_tratados.output)
Naive_Bayes_gaussiano.fit(X_train,Y_train)
y_pred = Naive_Bayes_gaussiano.predict(X_test)
acuracia3 = accuracy_score(Y_test,y_pred)
print("Acuracia 90/10 :",acuracia3)
acuracia.append(acuracia3)
y = dados_originais_tratados['output']
GNB = GaussianNB()
scores = cross_val_score(GNB, X, y, cv=10)
print("kfold, 10 folds :",scores.mean())  
print("acuracia média ", np.mean(acuracia))
print("desvio padrão ", np.std(acuracia))

Acuracia 70/30 : 0.8131868131868132
Acuracia 80/20 : 0.8360655737704918
Acuracia 90/10 : 0.7096774193548387
kfold, 10 folds : 0.8082795698924732
acuracia média  0.7863099354373814
desvio padrão  0.05498646083244599

### Amostra 30%
---

In [6]:
acuracia30 =[]
Naive_Bayes_gaussiano = GaussianNB()
X = dados_amostra30.drop(columns=['output'])
X_train,X_test,Y_train,Y_test = train_test_split(X,dados_amostra30.output,test_size=0.3,
                                                 stratify=dados_amostra30.output)
Naive_Bayes_gaussiano.fit(X_train,Y_train)
y_pred = Naive_Bayes_gaussiano.predict(X_test)
acuracia1 = accuracy_score(Y_test,y_pred)
print("Acuracia 70/30 :",acuracia1)
acuracia30.append(acuracia1)
Naive_Bayes_gaussiano2 = GaussianNB()
X = dados_amostra30.drop(columns=['output'])
X_train,X_test,Y_train,Y_test = train_test_split(X,dados_amostra30.output,test_size=0.2,
                                                 stratify=dados_amostra30.output)
Naive_Bayes_gaussiano.fit(X_train,Y_train)
y_pred = Naive_Bayes_gaussiano.predict(X_test)
acuracia2 = accuracy_score(Y_test,y_pred)
print("Acuracia 80/20 :",acuracia2)
acuracia30.append(acuracia2)
Naive_Bayes_gaussiano3 = GaussianNB()
X = dados_amostra30.drop(columns=['output'])
X_train,X_test,Y_train,Y_test = train_test_split(X,dados_amostra30.output,test_size=0.1,
                                                 stratify=dados_amostra30.output)
Naive_Bayes_gaussiano.fit(X_train,Y_train)
y_pred = Naive_Bayes_gaussiano.predict(X_test)
acuracia3 = accuracy_score(Y_test,y_pred)
print("Acuracia 90/10 :",acuracia3)
acuracia30.append(acuracia3)
y = dados_amostra30['output']
GNB = GaussianNB()
scores = cross_val_score(GNB, X, y, cv=10)
print("kfold, 10 folds :",scores.mean())  
print("acuracia média ", np.mean(acuracia30))
print("desvio padrão ", np.std(acuracia30))

Acuracia 70/30 : 0.8571428571428571
Acuracia 80/20 : 0.8421052631578947
Acuracia 90/10 : 0.5
kfold, 10 folds : 0.7933333333333333
acuracia média  0.7330827067669173
desvio padrão  0.16492865822037256

### Amostra 50%
---

In [7]:
acuracia50 =[]
Naive_Bayes_gaussiano = GaussianNB()
X = dados_amostra50.drop(columns=['output'])
X_train,X_test,Y_train,Y_test = train_test_split(X,dados_amostra50.output,test_size=0.3,
                                                 stratify=dados_amostra50.output)
Naive_Bayes_gaussiano.fit(X_train,Y_train)
y_pred = Naive_Bayes_gaussiano.predict(X_test)
acuracia1 = accuracy_score(Y_test,y_pred)
print("Acuracia 70/30 :",acuracia1)
acuracia50.append(acuracia1)
Naive_Bayes_gaussiano2 = GaussianNB()
X = dados_amostra50.drop(columns=['output'])
X_train,X_test,Y_train,Y_test = train_test_split(X,dados_amostra50.output,test_size=0.2,
                                                 stratify=dados_amostra50.output)
Naive_Bayes_gaussiano.fit(X_train,Y_train)
y_pred = Naive_Bayes_gaussiano.predict(X_test)
acuracia2 = accuracy_score(Y_test,y_pred)
print("Acuracia 80/20 :",acuracia2)
acuracia50.append(acuracia2)
Naive_Bayes_gaussiano3 = GaussianNB()
X = dados_amostra50.drop(columns=['output'])
X_train,X_test,Y_train,Y_test = train_test_split(X,dados_amostra50.output,test_size=0.1,
                                                 stratify=dados_amostra50.output)
Naive_Bayes_gaussiano.fit(X_train,Y_train)
y_pred = Naive_Bayes_gaussiano.predict(X_test)
acuracia3 = accuracy_score(Y_test,y_pred)
print("Acuracia 90/10 :",acuracia1)
acuracia50.append(acuracia3)
y = dados_amostra50['output']
GNB = GaussianNB()
scores = cross_val_score(GNB, X, y, cv=10)
print("kfold, 10 folds :",scores.mean())  
print("acuracia média ", np.mean(acuracia50))
print("desvio padrão ", np.std(acuracia50))

Acuracia 70/30 : 0.782608695652174
Acuracia 80/20 : 0.7096774193548387
Acuracia 90/10 : 0.782608695652174
kfold, 10 folds : 0.8137500000000001
acuracia média  0.705762038335671
desvio padrão  0.06440301697223427

### Amostra 70%
---

In [8]:
acuracia70 = []

Naive_Bayes_gaussiano = GaussianNB()
X = dados_amostra70.drop(columns=['output'])
X_train,X_test,Y_train,Y_test = train_test_split(X,dados_amostra70.output,test_size=0.3,
                                                 stratify=dados_amostra70.output)
Naive_Bayes_gaussiano.fit(X_train,Y_train)
y_pred = Naive_Bayes_gaussiano.predict(X_test)
acuracia1 = accuracy_score(Y_test,y_pred)
print("Acuracia 70/30 :",acuracia1)
acuracia70.append(acuracia1)
Naive_Bayes_gaussiano2 = GaussianNB()
X = dados_amostra70.drop(columns=['output'])
X_train,X_test,Y_train,Y_test = train_test_split(X,dados_amostra70.output,test_size=0.2,
                                                 stratify=dados_amostra70.output)
Naive_Bayes_gaussiano.fit(X_train,Y_train)
y_pred = Naive_Bayes_gaussiano.predict(X_test)
acuracia2 = accuracy_score(Y_test,y_pred)
print("Acuracia 80/20 :",acuracia2)
acuracia70.append(acuracia2)
Naive_Bayes_gaussiano3 = GaussianNB()
X = dados_amostra70.drop(columns=['output'])
X_train,X_test,Y_train,Y_test = train_test_split(X,dados_amostra70.output,test_size=0.1,
                                                 stratify=dados_amostra70.output)
Naive_Bayes_gaussiano.fit(X_train,Y_train)
y_pred = Naive_Bayes_gaussiano.predict(X_test)
acuracia3 = accuracy_score(Y_test,y_pred)
print("Acuracia 90/10 :",acuracia3)
acuracia70.append(acuracia3)
y = dados_amostra70['output']
GNB = GaussianNB()
scores = cross_val_score(GNB, X, y, cv=10)
print("kfold, 10 folds :",scores.mean())  
acuracia70.append(scores.mean())
print("acuracia média ", np.mean(acuracia70))
print("desvio padrão ", np.std(acuracia70))

Acuracia 70/30 : 0.828125
Acuracia 80/20 : 0.813953488372093
Acuracia 90/10 : 0.8181818181818182
kfold, 10 folds : 0.811038961038961
acuracia média  0.8178248168982181
desvio padrão  0.0064663793220497276

## Discretização 
---

In [9]:
do = dados_originais_tratados.copy()
do.loc[(do['age'] <= 40),'age'] = 0
do.loc[(do['age'] <= 60) & (do['age'] > 40),'age'] = 1
do.loc[(do['age'] > 60) & (do['age'] < 100),'age'] = 2
do.loc[(do['oldpeak'] <= 1.0),'oldpeak'] = 0
do.loc[(do['oldpeak'] <= 2.5) & (do['oldpeak'] > 1),'oldpeak'] = 1
do.loc[(do['oldpeak'] > 2.5),'oldpeak'] = 2
do.loc[(do['thalachh'] <= 120),'thalachh'] = 0
do.loc[(do['thalachh'] < 160) & (do['thalachh'] > 120),'thalachh'] = 1
do.loc[(do['thalachh'] > 160),'thalachh'] = 2
do.loc[(do['trtbps'] <= 120),'trtbps'] = 0
do.loc[(do['trtbps'] < 140) & (do['trtbps'] > 120),'trtbps'] = 1
do.loc[(do['trtbps'] > 140),'trtbps'] = 2
do.loc[(do['chol'] <= 200),'chol'] = 0
do.loc[(do['chol'] < 275) & (do['chol'] > 200),'chol'] = 1
do.loc[(do['chol'] > 275),'chol'] = 2

do.head()

   age  sex  trtbps  ...  cp__Angina_tipica  cp__Assintomatico  cp__Não_Angina
0    2    1       2  ...                  0                  0               1
1    0    1       1  ...                  0                  0               0
2    1    0       1  ...                  1                  0               0
3    1    1       0  ...                  1                  0               0
4    1    0       0  ...                  0                  1               0

[5 rows x 19 columns]

In [10]:
do30 = dados_amostra30.copy()
do30.loc[(do30['age'] <= 40),'age'] = 0
do30.loc[(do30['age'] <= 60) & (do30['age'] > 40),'age'] = 1
do30.loc[(do30['age'] > 60) & (do30['age'] < 100),'age'] = 2
do30.loc[(do30['oldpeak'] <= 1.0),'oldpeak'] = 0
do30.loc[(do30['oldpeak'] <= 2.5) & (do30['oldpeak'] > 1),'oldpeak'] = 1
do30.loc[(do30['oldpeak'] > 2.5),'oldpeak'] = 2
do30.loc[(do30['thalachh'] <= 120),'thalachh'] = 0
do30.loc[(do30['thalachh'] < 160) & (do30['thalachh'] > 120),'thalachh'] = 1
do30.loc[(do30['thalachh'] > 160),'thalachh'] = 2
do30.loc[(do30['trtbps'] <= 120),'trtbps'] = 0
do30.loc[(do30['trtbps'] < 140) & (do30['trtbps'] > 120),'trtbps'] = 1
do30.loc[(do30['trtbps'] > 140),'trtbps'] = 2
do30.loc[(do30['chol'] <= 200),'chol'] = 0
do30.loc[(do30['chol'] < 275) & (do30['chol'] > 200),'chol'] = 1
do30.loc[(do30['chol'] > 275),'chol'] = 2

do30.head()

   age  sex  trtbps  ...  cp__Angina_tipica  cp__Assintomatico  cp__Não_Angina
0    1    0       1  ...                  1                  0               0
1    2    0       2  ...                  0                  0               0
2    1    1       1  ...                  0                  1               0
3    1    1       0  ...                  0                  1               0
4    2    0     140  ...                  0                  1               0

[5 rows x 19 columns]

In [11]:
do70 = dados_amostra70.copy()
do70.loc[(do70['age'] <= 40),'age'] = 0
do70.loc[(do70['age'] <= 60) & (do70['age'] > 40),'age'] = 1
do70.loc[(do70['age'] > 60) & (do70['age'] < 100),'age'] = 2
do70.loc[(do70['oldpeak'] <= 1.0),'oldpeak'] = 0
do70.loc[(do70['oldpeak'] <= 2.5) & (do70['oldpeak'] > 1),'oldpeak'] = 1
do70.loc[(do70['oldpeak'] > 2.5),'oldpeak'] = 2
do70.loc[(do70['thalachh'] <= 120),'thalachh'] = 0
do70.loc[(do70['thalachh'] < 160) & (do70['thalachh'] > 120),'thalachh'] = 1
do70.loc[(do70['thalachh'] > 160),'thalachh'] = 2
do70.loc[(do70['trtbps'] <= 120),'trtbps'] = 0
do70.loc[(do70['trtbps'] < 140) & (do70['trtbps'] > 120),'trtbps'] = 1
do70.loc[(do70['trtbps'] > 140),'trtbps'] = 2
do70.loc[(do70['chol'] <= 200),'chol'] = 0
do70.loc[(do70['chol'] < 275) & (do70['chol'] > 200),'chol'] = 1
do70.loc[(do70['chol'] > 275),'chol'] = 2

do70.head()

   age  sex  trtbps  ...  cp__Assintomatico  cp__Não_Angina  output
0    1    0       1  ...                  1               0       0
1    1    1       2  ...                  1               0       0
2    2    1       2  ...                  1               0       0
3    1    1       1  ...                  1               0       0
4    1    1       1  ...                  1               0       0

[5 rows x 19 columns]

In [12]:
do50 = dados_amostra50.copy()
do50.loc[(do50['age'] <= 40),'age'] = 0
do50.loc[(do50['age'] <= 60) & (do50['age'] > 40),'age'] = 1
do50.loc[(do50['age'] > 60) & (do50['age'] < 100),'age'] = 2
do50.loc[(do50['oldpeak'] <= 1.0),'oldpeak'] = 0
do50.loc[(do50['oldpeak'] <= 2.5) & (do50['oldpeak'] > 1),'oldpeak'] = 1
do50.loc[(do50['oldpeak'] > 2.5),'oldpeak'] = 2
do50.loc[(do50['thalachh'] <= 120),'thalachh'] = 0
do50.loc[(do50['thalachh'] < 160) & (do50['thalachh'] > 120),'thalachh'] = 1
do50.loc[(do50['thalachh'] > 160),'thalachh'] = 2
do50.loc[(do50['trtbps'] <= 120),'trtbps'] = 0
do50.loc[(do50['trtbps'] < 140) & (do50['trtbps'] > 120),'trtbps'] = 1
do50.loc[(do50['trtbps'] > 140),'trtbps'] = 2
do50.loc[(do50['chol'] <= 200),'chol'] = 0
do50.loc[(do50['chol'] < 275) & (do50['chol'] > 200),'chol'] = 1
do50.loc[(do50['chol'] > 275),'chol'] = 2

do50.head()

   age  sex  trtbps  ...  cp__Assintomatico  cp__Não_Angina  output
0    1    1       0  ...                  0               0       1
1    1    1       1  ...                  1               0       0
2    1    1       0  ...                  1               0       1
3    1    1       2  ...                  1               0       0
4    2    1     140  ...                  1               0       0

[5 rows x 19 columns]

## Outro Métodos Naive Bayes Discretos
---

In [ ]:
acuracia50 =[]
Naive_Bayes_gaussiano = GaussianNB()
X = dados_amostra50.drop(columns=['output'])
X_train,X_test,Y_train,Y_test = train_test_split(X,dados_amostra50.output,test_size=0.3,
                                                 stratify=dados_amostra50.output)
Naive_Bayes_gaussiano.fit(X_train,Y_train)
y_pred = Naive_Bayes_gaussiano.predict(X_test)
acuracia1 = accuracy_score(Y_test,y_pred)
print("Acuracia 70/30 :",acuracia1)
acuracia50.append(acuracia1)
Naive_Bayes_gaussiano2 = GaussianNB()
X = dados_amostra50.drop(columns=['output'])
X_train,X_test,Y_train,Y_test = train_test_split(X,dados_amostra50.output,test_size=0.2,
                                                 stratify=dados_amostra50.output)
Naive_Bayes_gaussiano.fit(X_train,Y_train)
y_pred = Naive_Bayes_gaussiano.predict(X_test)
acuracia2 = accuracy_score(Y_test,y_pred)
print("Acuracia 80/20 :",acuracia2)
acuracia50.append(acuracia2)
Naive_Bayes_gaussiano3 = GaussianNB()
X = dados_amostra50.drop(columns=['output'])
X_train,X_test,Y_train,Y_test = train_test_split(X,dados_amostra50.output,test_size=0.1,
                                                 stratify=dados_amostra50.output)
Naive_Bayes_gaussiano.fit(X_train,Y_train)
y_pred = Naive_Bayes_gaussiano.predict(X_test)
acuracia3 = accuracy_score(Y_test,y_pred)
print("Acuracia 90/10 :",acuracia1)
acuracia50.append(acuracia3)
y = dados_amostra50['output']
GNB = GaussianNB()
scores = cross_val_score(GNB, X, y, cv=10)
print("kfold, 10 folds :",scores.mean())  
print("acuracia média ", np.mean(acuracia50))
print("desvio padrão ", np.std(acuracia50))